In [1]:
print('nama saya Aldo')

nama saya Aldo

In [2]:
print("Hello\nWorld!")

Hello
World!

In [3]:
# print('Hello World!')

In [4]:
type(int(1.0))

int

In [5]:
bool(1)

True

In [6]:
Numbers = "0123456"

In [7]:
print(Numbers)

0123456

In [8]:
Numbers[::3]

'036'

In [9]:
Numbers[::2]

'0246'

In [10]:
"0123456".find('1')

1

In [11]:
"6543210".find('1')

5

In [12]:
3 + 2 * 2

7

In [13]:
name = 'Lizz'
print(name[0:2])

Li

In [14]:
var = '01234567'
print(var[::2])

0246

In [15]:
'1' + '2'

'12'

In [16]:
1 + 2

3

In [17]:
A = (0, 1, 2, 3)

In [18]:
A[-3]

1

In [19]:
A[1]

1

In [20]:
A[-1]

3

In [21]:
A[3]

3

In [22]:
a = [1, 10, 2]

In [23]:
print(a)

[1, 10, 2]

In [24]:
type(a)

list

In [25]:
a[2] = 3.7

In [26]:
print(a)

[1, 10, 3.7]

In [27]:
b = (1, 10, 2)

In [28]:
type(b)

tuple

In [29]:
b[2] = 21

TypeError: 'tuple' object does not support item assignment

In [ ]:
S = {'A', 'B', 'C'}

U = {'A', 'Z', 'C'}

U.union(S)

In [ ]:
D = {'a': 0, 'b': 1, 'c': 2}

In [ ]:
D.values()

In [ ]:
L = []
L.append(['a', 'b'])

In [ ]:
len(L)

In [ ]:
L

In [ ]:
L.append(2)

In [ ]:
L

In [ ]:
len(L)

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [
        [24.3, 75.7, "high"],
        [31, 87.8, "high"],
        [22, 71.6, "medium"],
        [35, 95, "medium"],
    ],
    columns=["temp_celsius", "temp_fahrenheit", "windspeed"],
    index=pd.date_range(start="2014-02-12", end="2014-02-15", freq="D"),
)

In [3]:
df

            temp_celsius  temp_fahrenheit windspeed
2014-02-12          24.3             75.7      high
2014-02-13          31.0             87.8      high
2014-02-14          22.0             71.6    medium
2014-02-15          35.0             95.0    medium

In [4]:
df.get(["temp_celsius", "windspeed"])

            temp_celsius windspeed
2014-02-12          24.3      high
2014-02-13          31.0      high
2014-02-14          22.0    medium
2014-02-15          35.0    medium

In [16]:
ser = df['windspeed', 'temp_celsius']
ser

           windspeed  temp_celsius
2014-02-12      high          24.3
2014-02-13      high          31.0
2014-02-14    medium          22.0
2014-02-15    medium          35.0

In [24]:
abc = ['a', 'b', 'c']
g = pd.Series(abc)
data = g.loc[[False, True, True]]
print(data)

1    b
2    c
dtype: object

In [41]:
A='1234567'
A[1::2]

In [42]:
Name="Michael Jackson"
Name.find('el')

In [43]:
A=((11,12),[21,22])
A[1]

In [44]:
A[0][1]

In [45]:
'1,2,3,4'.split(',')

In [46]:
A=['1','2','3']

for a in A:

    print(2*a)