In [1]:
class Circle(object):
  def __init__(self, radius, color):
    self.radius = radius;
    self.color = color;

  def add_radius(self, r):
    self.radius = self.radius + r

In [ ]:
CircleObj = Circle(12, 'red')

CircleObj.add_radius(3)
print(CircleObj.radius)

In [ ]:
dir(CircleObj)

In [2]:
import seaborn as sns
import pandas as pd

In [3]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.iloc[1, 0]

10.34

In [7]:
with open("Example3.txt","w") as file1:
  file1.write("This is line A\n")